@import url('https://fonts.googleapis.com/css?family=Lato');
div{
    outline: solid 1px black;
}
body{
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.nav{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 5rem;
}
.links{
    margin-top: 40px;
    font-size: 0.75rem;
    float: right;
    color: gray;
}
.links a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.links a:hover{
    color: gainsboro;
}